/* CSS declarations go here */
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
.right {float: right}

.leaflet-control-locate {
  border:1px solid rgba(0,0,0,0.4);
}
.leaflet-control-locate a {
  background-color:#fff;
  background-position:-3px, -2px;
}
.leaflet-control-locate.active a {
  background-position:-33px -2px;
}

.ui-control {
  position:absolute;
  top:10px;
  left: 44px;
  z-index:1000;
  }
